# DATABASE_URL=postgresql+asyncpg://tradebot:tradebot@localhost:5432/tradebot
# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=tradebot
POSTGRES_USER=tradebot
POSTGRES_PASSWORD=tradebot

# Telegram
SENDER_API_ID=your_sender_api_id
SENDER_API_HASH=your_sender_api_hash
READER_API_ID=your_reader_api_id
READER_API_HASH=your_reader_api_hash
SESSIONS_DIR=sessions
READER_SESSION=reader
SENDER_SESSION=sender

ADMIN_BOT_TOKEN=your_admin_bot_token

ROYAL_CHANNEL=your_royal_channel_id
TEST_CHANNEL=your_test_channel_id
DEV_CHANNEL=your_dev_channel_id
ADMINS=admin_user_id_1,admin_user_id_2

# Engine
BINANCE_WS=wss://fstream.binance.com/ws
#BINANCE_WS=wss://stream.binance.com:9443/ws
BYBIT_WS=wss://stream.bybit.com/v5/public/linear
OKX_WS=wss://ws.okx.com:8443/ws/v5/public

# Profit shot
PROFIT_TEMPLATE_PATH=PNL2.svg
ENTRY_TEMPLATE_PATH=PNL2.svg
SVG_OUTPUT_DIR=generated

# other
LOG_LEVEL=INFO

TIMEZONE=UTC